extends layout

block content
	.container
		h1 About Us
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.
		ul
			li sodales
			li suscipit
			li ipsum
		p Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus.