extends layout

block content
	.jumbotron
		.container
			h1 Comfy Investor
			p Get comfy mother fucker.
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 Articles
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Stats & Charts
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 News
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.
				a.btn.btn-default(href='#') View Details