<!DOCTYPE html>
<html>
  <head>
    <title>: comfyinvestor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">comfyinvestor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron header">
      <div class="container">
        <img class="logo" src="http://imgur.com/5jYrDkK.png" alt="ComfyInvestor Logo">
        <p>Get comfy mother fucker.</p>        
        <!-- Learn More Bootstrap Button
        <a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        -->
      </div>
    </div>

<!-- *************** Research Section *************** -->

    <div class="jumbotron research">
      <div class="container">
        <div>
          <h2>Research</h2>
          <p>Search stocks to see detailed information and comfy analysis. Search stocks to see detailed information and comfy analysis. Search stocks to see detailed information and comfy analysis. Search stocks to see detailed information and comfy analysis. </p>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="stock" placeholder="FUCK">
            </div>
            <button type="submit" class="btn btn-default">View Details</button>
          </form>
        </div>
      </div>
    </div>    

<!-- *************** Education Section *************** -->

    <div class="education">
      <div class="row">
        <h2>Education</h2>
        <div class="col-md-4">
          <h3>Guides</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.</p><a href="#" class="btn btn-default">View Details</a>
        </div>
        <div class="col-md-4">
          <h3>Terminology</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.</p><a href="#" class="btn btn-default">View Details</a>
        </div>
        <div class="col-md-4">
          <h3>Videos</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.</p><a href="#" class="btn btn-default">View Details</a>
        </div>
      </div>
    </div>   

<!-- *************** Blog Section *************** -->

    <div class="container blog">
      <div class="row">
        <h2>Blog Posts</h2>
        <div class="blog-post">
          <img src="http://static0.bornrichimages.com/wp-content/uploads/2013/08/stock-market-investing-in-stocks.jpg" alt="blog post 1 alt">
          <h3>Blog Post 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.</p><a href="#" class="btn btn-default">Read Post</a>
        </div>
        <div class="blog-post">
          <img src="http://static0.bornrichimages.com/wp-content/uploads/2013/08/stock-market-investing-in-stocks.jpg" alt="blog post 1 alt" alt="blog post 2 alt">
          <h3>Blog Post 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.</p><a href="#" class="btn btn-default">Read Post</a>
        </div>
        <div class="blog-post">
          <img src="http://static0.bornrichimages.com/wp-content/uploads/2013/08/stock-market-investing-in-stocks.jpg" alt="blog post 1 alt" alt="more posts image">
          <h3>See More Blog Posts</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare egestas cursus. Nam eget sapien ex. Fusce vulputate lacus tellus, vel dignissim eros sodales nec. In suscipit faucibus velit, sed aliquam purus finibus nec. Mauris dignissim dignissim tempus. Nulla sed iaculis metus.</p><a href="#" class="btn btn-default">See More</a>
        </div>
      </div>
    </div>   
     


    <footer>
      <p>&copy; 2015, All Rights Reserved</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>