body {
  padding-top: 50px;
}

.container {
	margin: 0;
}

.header {
	/*background: url(../images/bg.jpg) no-repeat;*/
	background-color: #95a9b0;
	margin: 0;
	padding-top:10px;
	padding-bottom:5px;
	padding-left: 40px;
}

.header h2 {
	font-size: 20px;
}

.header p {
	font-size: 12px;
}


.research {
	margin:0;
	padding: 25px 20px 60px 40px;
	background-color: #0c78a9;
}

.research h2 {
	color: #fff;
}

.research p {
	color: #fff;
} 

.research button {
	margin-left: 20px;
}

.blog-post {
	width: 950px;
	margin-bottom: 40px;
}

.education {
	margin:0;
	padding: 25px 60px;
	background-color: #fff;
	width: 100%;
}

.container .education {
	margin:0;
}


.blog {
	margin:0;
	padding: 25px 60px;
	background-color: #95a9b0;
	width: 100%;
}

.blog h2 {
	color: #fff;
	margin: 10px;
	margin-bottom: 30px;
}

.blog h3 {
	color: #fff;
}

.blog p {
	color: #fff;
} 

.blog button {
	margin-left: 20px;
}

.blog-post img {
	float:left;
	max-height: 150px;
	margin-right: 20px;
	margin-left: 10px;
}

.education h2 {
	margin: 10px;
}

.logo {
	max-width: 135px;
	float: left;
	padding-right: 10px;
}

nav {
	background: #95a9b0;
}

footer {
	background: #f4f4f4;
	height: 40px;
	text-align: center;
	margin-top: 30px;
	padding-top: 10px;
	overflow: auto;
}
