body {
  padding-top: 50px;
}

.container {
	margin: 0;
}

.jumbotron {
	margin: 0;
	padding-left: 40px;
}

.jumbotron header{
	/*background: url(../images/bg.jpg) no-repeat;*/
	background-color: #95a9b0;
}


.jumbotron .container img {
	width: 30%;
	transition: all 0.3s;
}

.jumbotron .container img:hover {
	width: 30%;
	transform: scale(0.33);
}

.research {
	margin:0;
	padding: 25px 40px;
	background-color: #0c78a9;
}

.research h2 {
	color: #fff;
}

.research p {
	color: #fff;
} 

.research button {
	margin-left: 20px;
}

.blog-post {
	width: 950px;
	margin-bottom: 40px;
}

.education {
	margin:0;
	padding: 25px 60px;
	background-color: #fff;
	width: 100%;
}

.container .education {
	margin:0;
}


.blog {
	margin:0;
	padding: 25px 60px;
	background-color: #95a9b0;
	width: 100%;
}

.blog h2 {
	color: #fff;
	margin: 10px;
	margin-bottom: 30px;
}

.blog h3 {
	color: #fff;
}

.blog p {
	color: #fff;
} 

.blog button {
	margin-left: 20px;
}

.blog-post img {
	float:left;
	max-height: 150px;
	margin-right: 20px;
	margin-left: 10px;
}

.education h2 {
	margin: 10px;
}

footer {
	background: #f4f4f4;
	height: 40px;
	text-align: center;
	margin-top: 30px;
	padding-top: 10px;
	overflow: auto;
}
