/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin top by nav height */
  margin-top: 80px;	
  /* Margin bottom by footer height */
  margin-bottom: 240px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 180px;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #28465C;
  color: #efefef;
}

.footer a {
	color: #a6c8e1;
}

@media only screen and (max-width: 768px) {
	body {margin-bottom: 400px;}
	.footer {height: 400px;}
}


.container {
	max-width: 960px;
}

.btn-lg {
}

.education {
	background-color: #A6C8E1;
	padding-top:20px;
}

.research {

}

.navbar img {
	max-height: 21px;
	float: left;
	margin-right: 5px;
}

.navbar {
	background-color: #4A80A9;
}

.navbar a {
	color: #efefef;
}

.navbar a:hover {
	color:#fff;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	background-color: #204d74;
	color: #fff;
}

.navbar-toggle .icon-bar {
	background-color: #efefef;
}


